{% extends 'fridgeApp/base.html' %}

{% block content %}

<style>
    table tr td {
        padding: 5px;
        height: 20px;
    }
    th {
        height: 40px;
        padding: 5px;
        font-weight: bold;
        text-align: left;
        background-color: #cccccc;
    }
    rotting {
        background-color: red;
    }
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <center><h4> List of Items in fridge right now  </h4></center>
        </div>
        <div class="col-sm-1" align="right">
            <a href="{% url 'add_item' %}"><h5> Add Item </h5> </a>
        </div>
        <div class="col-sm-1" align="right">
            <a href="{% url 'logout' %}"><h5> Logout </h5> </a>
        </div>
    </div>
    <hr style="border-top: 1px dotted green;">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<p class="text-danger" >Warning: </p>{% endif %}
            <center>{{ message }}</center>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="table" style="text-align: left;">
        <center>

            <table>
                    <tr>
                        <th> Item Name </th> <th> Expiry Date </th>
                    </tr>
                {% for item in items %}
                <tr>
                    <td> <b>{{ item.name }}: </b></td>
                    {% if item.days_remaining.days < 0 %}
                        <td style="background-color: red" > {{ item.expiry_date }} </td>
                    {% elif item.days_remaining.days < 4 and  item.days_remaining.days > 0 %}
                        <td style="background-color: orange" > {{ item.expiry_date }} </td>
                    {% else %}
                        <td style="background-color: #90EE90"> {{ item.expiry_date }} </td>
                    {% endif %}
                    <td> <a href="{% url 'delete' id=item.id %}"><h5> <i class="material-icons" style="font-size:18px;color:black">delete</i> </h5> </a> </td>
                </tr>
                {% endfor %}
            </table>

            <br>
        </center>
    </div>
</div>

{% endblock %}