{% extends "effort_tracker/base.html" %}
{% block content %}

<style>
th, td {
  padding: 5px;
}

</style>

<div class="container">
    <div class="row">
        <div class="col-sm-11">
            <h4><center> Password reset </center></h4>
        </div>
        <div class="col-sm-1">
            <a href="{% url 'login' %}"> Login </a>
        </div>
    </div>
    <hr style="border-top: 1px dotted green;">
    <br><br>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<p class="text-danger" >Warning: </p>{% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <center>
        <form method="POST" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label> Username: </label>
                    </td>
                    <td>
                        <input type="text", name="username" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Existing Password: </label>
                    </td>
                    <td>
                        <input type="password", name="old_password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> New Password: </label>
                    </td>
                    <td>
                        <input type="password", name="new_password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Confirm Password: </label>
                    </td>
                    <td>
                        <input type="password", name="confirm_password" />
                    </td>
                </tr>
            </table><br>
            <center>
                <button type="submit" class="btn btn-primary">Reset password</button>
            </center>
        </form>
    </center>
</div>

{% endblock %}