{% extends "fridgApp/base.html" %}
{% block content %}

<br>
    <center>
                <a href="/"> Visit homepage </a>
                </center>
        <hr>
    <div>

    {% if messages %}
                <ul class="messages">
                 {% for message in messages %}
                         <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<p class="text-danger" >Warning: </p>{% endif %}
                                                {{ message }}
                        </li>
                {% endfor %}
                </ul>
        {% endif %}


        <center>
        <form method="post">
        {% csrf_token %}
            <table> {{ form.as_table }} </table>
            <br>
        <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        </center>
    </div>

{% endblock %}