{% extends 'effort_tracker/base.html' %}

{% block content %}
<div class="container">
        <br>
                <center>
                        <H2> Daily effort tracker </H2>
                </center>
        <hr style="border-top: 1px dotted green;">

        {% if messages %}
                <ul class="messages">
                 {% for message in messages %}
                         <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<p class="text-danger" >Warning: </p>{% endif %}
                                                {{ message }}
                        </li>
                {% endfor %}
                </ul>
        {% endif %}
        <div class="container">
                <div class="row">
                        <form method="post">
                                {% csrf_token %}
                                <center>
                                {{ form.as_p }}
                                <br>
                                <button type="submit" class="btn btn-primary">Log in</button>
                                </center>
                        </form>
                </div>
                <br>
                <div class="row">
                        <center>New user? <a href="{% url 'register' %}"> register </a></center>
                </div>

                <div class="row">
                        <center> First time login? <a href="{% url 'password_reset' %}"> reset password </a></center>
                </div>

                <br>
        </div>
</div>
{% endblock %}